language: python
python: 2.7
sudo: false
cache:
  directories:
  - eggs
  - parts/node
env:
  matrix:
    - MASTER=true
    - PENDING_RELEASE=true
matrix:
  allow_failures:
    - env: MASTER=true
  fast_finish: true
install:
- test $MASTER && sed -ie '/https:\/\/raw\.githubusercontent\.com\/plonegovbr\/portal\.buildout\/master\/buildout\.d\/versions\.cfg/d' buildout.cfg || true
# XXX: Veja a necessidade dessa pinagem em buildout.cfg.
- test $PENDING_RELEASE && sed -ie 's/# selenium/selenium/g' buildout.cfg || true
- python bootstrap.py
- bin/buildout annotate
- bin/buildout
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- firefox -v
script:
- bin/code-analysis
- bin/test
after_success:
- bin/createcoverage -t "--layer=!Acceptance"
- pip install -q coveralls
- coveralls
after_script:
# Firefox complains: GConf-WARNING **: Got Disconnected from DBus.
# And then it keeps hanging, causing a failed job after 30-50 minutes.
# So we just kill Firefox.
- pkill -9 firefox
notifications:
  irc: irc.freenode.org#plonegovbr
