language: python
python: 2.7
sudo: false
cache:
  directories:
  - $HOME/.pylint.d
  - eggs
  - parts/node
addons:
  # XXX: use an older Firefox ESR as we are stuck with selenium = 2.53.5
  #      https://github.com/SeleniumHQ/selenium/issues/2739#issuecomment-249482533
  firefox: 45.9.0esr
matrix:
  fast_finish: true
before_install:
- pip install coveralls pylint
install:
- python bootstrap.py
- bin/buildout annotate
# FIXME:
# Avoids VersionConflict: (six 1.11.0 (/home/travis/virtualenv/python2.7.14/lib/python2.7/site-packages), Requirement.parse('six==1.10.0'))
- bin/buildout versions:six=
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
script:
- bin/code-analysis
- bin/test
- pylint --py3k --disable=no-absolute-import src/brasil/gov/tiles
after_success:
- bin/createcoverage --output-dir=htmlcov -t "--layer=!Acceptance"
- coveralls
notifications:
  irc: irc.freenode.org#plonegovbr
