language: python
python: 2.7
sudo: false
cache:
  directories:
  - $HOME/.pylint.d
  - eggs
  - parts/node
addons:
  # XXX: use an older Firefox ESR as we are stuck with selenium = 2.53.5
  #      https://github.com/SeleniumHQ/selenium/issues/2739#issuecomment-249482533
  firefox: 45.9.0esr
matrix:
  fast_finish: true
install:
- virtualenv .
- bin/pip install -r requirements.txt
- bin/buildout annotate
# FIXME:
# Avoids VersionConflict: (six 1.11.0 (/home/travis/virtualenv/python2.7.14/lib/python2.7/site-packages), Requirement.parse('six==1.10.0'))
- bin/buildout versions:six=
before_script:
- export DISPLAY=:99.0
- Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
script:
- bin/code-analysis
- bin/test
- bin/pylint --py3k --disable=no-absolute-import src/brasil/gov/tiles
after_success:
- pip install coverage
- coverage run bin/test --layer=\!Robot
# Coveralls
- pip install coveralls
- coveralls
# Codacy
- coverage xml
- pip install codacy-coverage
- python-codacy-coverage -r coverage.xml
notifications:
  irc: irc.freenode.org#plonegovbr
