/* Tile de audio
   ========================================================================== */
/* Título do tile de áudio */

.audio-tile .title {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 15px;
  font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}

/* estilo default do jPlayer */

div {
  &.jp-audio, &.jp-audio-stream {
    border: 1px solid #e0e0e0;
    border-radius: 5px 5px 5px 5px;
    background-color: #eee;
    box-shadow: 0 0 5px 1px #CCCCCC;
    color: #666;
    font-size: 1.25em;
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.6;
  }
  &.jp-audio {
    margin-bottom: 5px;
    width: 100%;
  }
  &.jp-audio-stream {
    width: 182px;
  }
  &.jp-interface {
    position: relative;
    width: 100%;
    background-color: #edeef2;
  }
  &.jp-audio div.jp-type-single div.jp-interface, &.jp-audio-stream div.jp-type-single div.jp-interface {
    height: 48px;
  }
  &.jp-controls-holder {
    position: relative;
    top: -8px;
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    width: 440px;
  }
  &.jp-interface ul.jp-controls {
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
  }
  &.jp-audio ul.jp-controls {
    margin: 0 !important;
    padding: 10px 0;
  }
  &.jp-audio-stream ul.jp-controls {
    padding: 20px 20px 0 20px;
    width: 142px;
  }
  &.jp-interface ul.jp-controls {
    li {
      display: inline !important;
      float: left;
    }
    a {
      display: block;
      overflow: hidden;
      text-indent: -9999px;
    }
  }
}

a {
  &.jp-play, &.jp-pause {
    position: relative;
    left: 10px;
    width: 23px;
    height: 23px;
  }
  &.jp-play {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 0 no-repeat;
    &:hover {
      background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -41px 0 no-repeat;
    }
  }
  &.jp-pause {
    display: none;
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -42px no-repeat;
    &:hover {
      background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -41px -42px no-repeat;
    }
  }
  &.jp-previous, &.jp-next {
    margin-top: 6px;
    width: 28px;
    height: 28px;
  }
  &.jp-previous {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -112px no-repeat;
    &:hover {
      background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -29px -112px no-repeat;
    }
  }
  &.jp-next {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -141px no-repeat;
    &:hover {
      background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -29px -141px no-repeat;
    }
  }
}

div {
  &.jp-progress {
    overflow: hidden;
    background-color: #ddd;
  }
  &.jp-audio div {
    &.jp-progress {
      position: relative;
      top: 15px;
      display: block;
      clear: both;
      height: 15px;
    }
    &.jp-type-single div.jp-progress {
      width: 100%;
    }
  }
}

.jp-progress-time-wrapper {
  display: block;
  padding-right: 45px;
  padding-left: 45px;
  height: 50px;
}

div {
  &.jp-seek-bar {
    width: 0px;
    height: 100%;
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -202px repeat-x;
    cursor: pointer;
  }
  &.jp-play-bar {
    width: 0px;
    height: 100%;
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -218px repeat-x;
  }
  &.jp-seeking-bg {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.seeking.gif");
  }
}

/* jPlayer - Controles do volume */

a {
  &.jp-mute, &.jp-unmute {
    position: absolute;
    top: 15px;
    right: 15px;
    margin-top: 0;
    width: 18px;
    height: 15px;
    vertical-align: middle;
  }
}

div {
  &.jp-audio div.jp-type-single a {
    &.jp-mute, &.jp-unmute {
      margin-left: 210px;
    }
  }
  &.jp-audio-stream div.jp-type-single a {
    &.jp-mute, &.jp-unmute {
      margin-left: 10px;
    }
  }
}

a {
  &.jp-mute {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -186px no-repeat;
    &:hover {
      background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -19px -186px no-repeat;
    }
  }
  &.jp-unmute {
    display: none;
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -60px -170px no-repeat;
    &:hover {
      background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -79px -170px no-repeat;
    }
  }
}

div {
  &.jp-volume-bar {
    position: absolute;
    overflow: hidden;
    width: 35px;
    height: 5px;
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -250px repeat-x;
    cursor: pointer;
  }
  &.jp-audio div.jp-volume-bar {
    top: 37px;
    right: 5px;
  }
  &.jp-audio-stream div.jp-volume-bar {
    top: 37px;
    left: 92px;
  }
  &.jp-volume-bar-value {
    width: 0px;
    height: 5px;
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -256px repeat-x;
  }
  &.jp-audio div {
    &.jp-time-holder {
      position: relative;
      top: 15px;
      display: block;
      clear: both;
      height: 15px;
      text-align: right;
      font-size: 10px;
      line-height: 15px;
    }
    &.jp-type-single div.jp-time-holder {
      width: 100%;
    }
  }
}

/* jPlayer - controles de duração */

.jp-current-time {
  width: 60px;
  font-style: oblique;
  font-size: 10px;
}

.jp-duration {
  width: 60px;
  font-style: oblique;
  font-size: 10px;
  text-align: right;
}

/* jPlayer - Playlist */

span.jp-artist {
  color: #666;
  font-size: .8em;
}

div.jp-jplayer {
  audio {
    width: 0px;
    height: 0px;
  }
  width: 0px;
  height: 0px;
  background-color: #000;
}

ul.jp-toggles {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

div.jp-audio .jp-type-single ul.jp-toggles {
  width: 25px;
}

ul.jp-toggles li {
  display: block;
  float: right;
  a {
    display: block;
    width: 25px;
    height: 18px;
    text-indent: -9999px;
    line-height: 100%;
  }
}

a {
  &.jp-full-screen {
    margin-left: 20px;
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -310px no-repeat;
    &:hover {
      background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -30px -310px no-repeat;
    }
  }
  &.jp-restore-screen {
    margin-left: 20px;
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -60px -310px no-repeat;
    &:hover {
      background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -90px -310px no-repeat;
    }
  }
  &.jp-shuffle {
    margin-left: 5px;
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -270px no-repeat;
    &:hover {
      background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -30px -270px no-repeat;
    }
  }
  &.jp-shuffle-off {
    margin-left: 5px;
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -60px -270px no-repeat;
    &:hover {
      background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -90px -270px no-repeat;
    }
  }
}

/* @group NO SOLUTION error feedback */

.jp-no-solution {
  display: none;
  padding: 5px;
  border: 2px solid #009be3;
  background-color: #eee;
  color: #000;
  font-size: .8em;
  a {
    color: #000;
  }
  span {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
  }
}

/* @end */
