/* Tile da Galeria de áudio
   ========================================================================== */
#content .audiogallery-tile .selected {
  display: none;
}

.audiogallery-tile {
  margin-bottom: 20px;

  border: 1px solid #D4D4D6;
  background-color: #EEEFF1;
}

.audiogallery-title-container .gallery-tile {
  font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
  font-weight: normal;

  padding: 10px 15px 10px 10px;

  color: #454545;
  border-bottom: 1px solid #D4D4D6;
}

.audiogallery-player-container {
  padding: 10px 15px;

  border-bottom: 1px dotted #D4D4D6;
  .audiogallery-item-title {
    padding-top: 10px;
  }
}

#content .audiogallery-items-container {
  ul {
    margin: 0;
  }
  li {
    padding: 10px 15px;

    list-style: none outside none;

    border-bottom: 1px dotted #D4D4D6;
  }
  .audiogallery-item {
    font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
    font-weight: normal;

    display: block;

    padding-left: 20px;

    background: url(./img/sound-icon.png) no-repeat scroll left 0 transparent;
  }
}

.audiogallery-footer-container {
  padding: 5px 15px;

  text-align: right;
  .audiogallery-footer-link {
    font-size: .916em;
    line-height: 14px;

    display: inline-block;

    margin-bottom: 6px;
    padding-right: 25px;

    text-transform: uppercase;

    background: url(./img/footer-arrow.png) no-repeat scroll right 0 transparent;
  }
}
