/* Tile Banner Estatico */
.banner-tile {
  float: left;
  img {
    margin: 0;
  }
}

div[data-tile*='collective\.cover\.banner'] {
  overflow: hidden;
}

#content {
  .banner-tile .copyright,
  .newsImageContainer .copyright,
  .mediacarousel .rights {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    font-style: italic;
    line-height: 2em;

    float: right;

    margin: 0 .8em 0 0;

    color: #000;
  }
}

.banner-tile .copyright + a,
.newsImageContainer .copyright + a {
  display: block;
  clear: both;
}

#featured-content .banner-tile {
  float: none;
}