/* Tile do Banner Rotativo
   ========================================================================== */

/* espaçamento padrão dos tiles */

#content #tile_banner_rotativo {
  overflow: hidden;

  margin: 0 0 1.8em;
  &.chamada_com_foto {
    min-height: 545px;
    li .banner {
      width: 100%;
    }
  }
  li {
    margin: 0;

    list-style: outside none;
  }
}

/* tile com descrição */

/* itens do tile */

/* créditos */

#tile_banner_rotativo {
  li {
    .credito {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      font-style: italic;
      line-height: 2em;

      display: block;

      text-align: right;

      color: #172938;
    }
    .banner {
      position: absolute;
      top: 0;
      left: 0;

      opacity: 0;

      filter: alpha(opacity = 0);
    }
  }
  .activeSlide .banner {
    z-index: 1;

    opacity: 1;

    filter: alpha(opacity = 100);
  }
  li {
    .banner {
      img {
        width: 100%;
        max-width: 750px;
      }
      .title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.7em;
        font-weight: bold;
        line-height: 1em;

        display: block;

        margin: .450em 0 .450em 0;

        color: #172938;
      }
      .descr {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1em;

        display: block;

        color: #172938;
      }
      .faixa {
        position: relative;

        float: left;

        width: 100%;
        max-width: 750px;
        height: 20px;
        margin-top: -21px;

        color: #FFF;
        border-radius: 0 0 5px 5px;
        background: url(./img/shadow-50.png) repeat top left;
      }
    }
    .button-nav {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;

      display: block;
      overflow: hidden;

      width: 21px;
      height: 20px;

      white-space: nowrap;
      text-indent: 100%;

      border-right: 1px solid #446B5D;
      background-color: #0E561F;
      background-image: url(./img/bullets-branco-verde.gif);
      background-repeat: no-repeat;
    }
  }
}

/* elemento container da imagem */

/* elemento container da imagem ativo */

/* imagem destaque */

/* título */

/* descrição */

/* faixa */

/* botões de navegação */

.orderTiles .button-nav {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;

  display: block;
  overflow: hidden;

  width: 21px;
  height: 20px;

  white-space: nowrap;
  text-indent: 100%;

  border-right: 1px solid #446B5D;
  background-color: #0E561F;
  background-image: url(./img/bullets-branco-verde.gif);
  background-repeat: no-repeat;
}

#tile_banner_rotativo {
  .activeSlide .button-nav {
    background-color: #FFB400;
    background-position: -21px 0;
  }
  li .button-nav {
    &:hover,
    &:focus {
      background-color: #FFB400;
      background-position: -21px 0;
    }
  }
  .last-item .button-nav {
    right: 0;

    border: none;
    border-radius: 0 0 3px 0;
  }
  &[data-quantidade='2'] #banner1 .button-nav {
    right: 20px;
  }
  &[data-quantidade='3'] {
    #banner1 .button-nav {
      right: 40px;
    }
    #banner2 .button-nav {
      right: 20px;
    }
  }
  &[data-quantidade='4'] {
    #banner1 .button-nav {
      right: 60px;
    }
    #banner2 .button-nav {
      right: 40px;
    }
    #banner3 .button-nav {
      right: 20px;
    }
  }
  &.chamada_sobrescrito li {
    .banner {
      width: 100%;
      .faixa {
        display: none;
      }
      img {
        max-height: 540px;
      }
    }
    .nav-wrapper {
      margin-top: -50px;
    }
    .banner .title {
      font-family: Arial, Verdana, sans-serif;
      font-size: 1.45em;
      font-weight: bold;
      font-style: normal;
      line-height: 1.35em;

      position: relative;

      overflow: hidden;

      height: 41px;
      margin: -57px 0 0;
      padding: 5px 4.5em 10px 1em;

      color: #FFF;
      border-radius: 0 0 5px 5px;
      background: url(./img/shadow-50.png) repeat top left;
    }
  }
  &.chamada_sem_foto li .banner {
    width: 100%;
    .faixa {
      display: none;
    }
    img {
      max-height: 240px;
    }
    .title {
      font-size: .8em;
      font-weight: normal;
      font-style: italic;
      line-height: 20px;

      position: relative;

      height: 20px;
      margin: -20px 0 0;

      text-indent: 1em;

      color: #FFF;
      border-radius: 0 0 5px 5px;
      background: url(./img/shadow-50.png) repeat top left;
    }
  }
}

/* botões de navegação - com 2 itens */

/* botões de navegação - com 3 itens */

/* botões de navegação - com 4 itens */

/* Tile do Banner Rotativo - Texto sobreposto
   ========================================================================== */

/*
 * Tile do Banner Rotativo - Sem descrição
 */

/*
 * Tile do Banner Rotativo - Aba compor
 */

.template-compose #content #tile_banner_rotativo {
  li {
    position: relative;

    float: left;

    width: 23%;
    min-height: 250px;
    margin: 1% 1%;
    &:hover {
      opacity: .9;

      filter: alpha(opacity = 90);
    }
  }
  .banner {
    margin: 10px 0 0;

    opacity: 1;

    filter: alpha(opacity = 100);
    img {
      width: 94%;
      margin: 0 3%;

      opacity: 1;

      filter: alpha(opacity = 100);
    }
  }
  .button-nav,
  span {
    display: none;
  }
  .title {
    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2em;

    display: block;

    height: auto;
    margin: 3%;

    text-indent: initial;

    color: #172938;
    background: transparent none;
  }
  .tile-remove-item {
    top: 0;
    right: -5px;
  }
}

.tile-remove-item {
  z-index: 10 !important;
}

.orderTiles {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  .button-nav {
    position: static;
  }
}
