/* Tile Banner Estatico */
.banner-tile {
    float: left;
}

.banner-tile img {
    margin: 0;
}

div[data-tile*="collective\.cover\.banner"] {
    overflow: hidden;
}

#content .banner-tile .copyright,
#content .newsImageContainer .copyright,
#content .mediacarousel .rights {
    float: right;
    margin: 0 .8em 0 0;
    color: #000;
    font-style: italic;
    font-size: .9em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
}

.banner-tile .copyright + a,
.newsImageContainer .copyright + a {
    display: block;
    clear: both;
}

#featured-content .banner-tile {
    float: none;
}
