/* Tile de embed de videos do collective cover
   ========================================================================== */

div[data-tile*="collective.cover.embed"] {
  overflow: hidden;
  max-width: 766px;
  max-height: 574px;
  .samba-player {
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 56.25%;
    width: 100% !important;
    height: 0;
    height: 100% !important;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
