/* tile de carousel */
.brasil-groupcarousel-tile {
  display: block;
  .tile-header {
    text-align: center;
    p {
        color: #333;
        opacity: .5;
    }
    h2 {
      font-size: 2.25rem !important;
    }
  }
  .carousel-thumbs {
    width: 1060px !important;
    box-sizing: border-box;
    padding: 0 0 30px 0;
  }
  .swiper-slide {
    display: flex;
    justify-content: space-evenly;

  }
  .carousel-item {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    padding-top: 30px;
    img {
        float: none !important;
        margin: 0;
    }
  }
  h2 {
    display: table;
    height: 75px;
    width: 100%;
    font-size: 1.55rem;

    a {
      display: table-cell;
      vertical-align: middle;
    }
  }
  p {
    color: #979797;
  }
  .carousel-item:hover {
    background: #f9f9f9;
    background-image: url(./img/icon-carosel.png);
    background-repeat: no-repeat;
    background-position: top right;
  }
  .switch-carousel li {
    cursor: pointer;
    display: inline-block !important;
    padding: 10px;
    margin: 0 25px;
    text-transform: uppercase;
  }
  .switch-carousel li.active {
    border-bottom: 5px solid #333;
  }
  .switch-carousel ul {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px 0;
  }
  .swiper-button-black,
  .swiper-button-black.disabled {
    color: #222 !important;
    opacity: 1;
  }
  .swiper-pagination-bullet {
    border-radius: 0;
    width: 30px;
  }
  .swiper-pagination-bullet-active {
    background: #333;
  }
  .swiper-button-next, .swiper-button-prev {
    height: 25px;
  }
}
