/* POLL TILE */
#content .poll-tile {
  border: 1px solid #D4D5D7;
  border-radius: .5em .5em 0 0;
  background-color: #EEEFF1;
  .poll-tile-header {
    padding: 1.7em 1em;

    border-bottom: 1px solid #D4D5D7;
    border-radius: .5em .5em 0 0;
    background-color: #F8F9F9;
    > h3 {
      font-size: 1em;

      color: #365073;
    }
  }
  .tile-content-wrapper {
    > {
      .poll-graph > {
        p {
          font-weight: bold;

          padding: 1em 1em 0 1em;
        }
        .poll-data {
          padding: 0 1em;
        }
      }
      .poll-spinner {
        padding: 0;
      }
    }
    form {
      label {
        font-weight: normal;

        display: inline-block;
      }
      input {
        &[type=radio] {
          float: left;
          clear: both;

          margin: 1em 0 1em 1em;
          + span {
            line-height: 3.3em;

            display: block;

            margin-left: 2.8em;

            color: #335277;
          }
        }
        &[type=submit] {
          font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
          font-size: 1.1em;

          width: 100%;
          margin-top: 1em;
          padding: .8em 0 .8em 3em;

          text-align: left;
          text-transform: uppercase;

          color: #FFF;
          border: none;
          background: #456183 url(../++theme++verde/img/readmorewhiteblue.png) no-repeat 1em center;
        }
      }
    }
  }
  .poll-form > .toggle-result,
  .total-votes {
    font-size: .8em;

    display: block;

    padding: 1em;
    padding-top: 1em;

    text-align: right;
    text-transform: uppercase;
  }
}