/* tile de citação */
#content .brasil-quote-tile {
	a, a:link, a:visited, a:hover {
		color: #fff !important;
	}
}
.brasil-quote-tile {
	display: flex;
	height: 334px;
	position: relative;

	.quote-article:before {
		background-color: transparent;
	    background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),to(#000));
	    background-image: -o-linear-gradient(transparent,#000);
	    background-image: linear-gradient(transparent,#000);
	    content: ".";
	    display: block;
	    height: 334px;
	    position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    opacity: .8;
	    z-index: -1;
	    text-indent: -3000px;
	}

	.quote-article {
		width: 50%;
		position: relative;
		display: flex;

		.quote-article-content {
			align-self: flex-end;
		}

		img {
			position: absolute;
		    height: 100%;
		    width: 100%;
		    object-fit: cover;
		    z-index: -2;
		    top: 0;
		}

		.tile-subtitle {
			display: inline-block;
			color: #fff;
			padding: 5px 10px;
			margin: 0 115px 0 30px;
			line-height: 0.875rem;
			
		}
		h2 {
			margin: 5px 115px 50px 30px;
			color: #fff;
			font-size: 1.75rem;
			font-weight: 800;
		}
		.tile-subtitle:before {
			display: none;
		}
	}
	.quote:before {
		content: "\2666";
	    font-size: 160px;
	    position: absolute;
	    left: -40px;
	    top: 41%;
	    z-index: -1;
	}
	.quote {
		width: 50%;
		color: #fff;
		padding: 90px 30px 0 40px;
		font-weight: 500;
		position: relative;
		background-image: url(./img/quote.png);
		background-repeat: no-repeat;

		.quote-text {
			font-size: 1.75rem;
			line-height: 1.25;
			font-weight: 800;
		}
		.quote-rights {
			display: flex;
			margin-top: 10px;
		}
		.quote-rights:before {
		    border-bottom: 1px solid #fff;
		    height: 1px;
		    line-height: 1px;
		    content: " ";
		    white-space: nowrap;
		    display: inline-block;
		    margin-top: 11px;
		    width: 30px;
		    opacity: 0.5;
		    margin-right: 5px;
		}
		.quote-left {
			display: none;
		}
	}
}
.brasil-quote-tile.quote-blue {
	.quote, .tile-subtitle {
		background-color: #06acff;
	}
	.quote:before {
		color: #06acff;
	}
}
.brasil-quote-tile.quote-green {
	.quote, .tile-subtitle {
		background-color: #53cfd0;
	}
	.quote:before {
		color: #53cfd0;
	}
}