/* Tile de redes sociais
   ========================================================================== */
.css-panes .pane {
    display: none;
    padding: 10px 4px;
    height: 340px;
    border: 1px solid #d4d5d7;
    border-radius: 0 5px 5px 5px;
    background-color: #eeeff1;
}

#content .css-tabs li {
    list-style: none outside none;
}

/* Reset do plugin Facebook like box */
#fb-root {
    display: none;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    width: 100% !important;
    border: 0 none !important;
}

/* mensagem de erro na tag noscript */
div.error {
    padding: 1em;
}

/* root element for tabs  */
ul.css-tabs {
    margin: 0 !important;
    padding: 0;
    height: 30px;
    border-bottom: 1px solid #eeeff1;
}

/* link inside the tab. uses a background image */
ul.css-tabs li {
    position: relative;
    top: 1px;
    display: block;
    float: left;
    margin-right: 2px;
    padding: 5px 30px;
    height: 18px;
    outline: 0;
    border: 1px solid #d4d5d7;
    border-bottom: 0px;
    -moz-border-radius: 4px 4px 0 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-color: #d5d5d5;
    color: #777;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    cursor: hand;
}

ul.css-tabs li:hover {
    background-color: #F7F7F7;
    color: #333;
}

/* selected tab */
ul.css-tabs li.current {
    border-bottom: 0 solid transparent;
    background-color: #eeeff1;
    color: #000;
    cursor: default;
}
