/* Galleria Classic Theme 2012-08-07 | https://raw.github.com/aino/galleria/master/LICENSE | (c) Aino */

#galleria-loader {
    height: 1px !important;
}

.galleria-container {
    display: block;
    clear: both;
    float: left;
    width: 100% !important;
    padding: 0;
    border: 0 none;
}

.galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.galleria-stage {
    overflow: hidden;
    float: left;
    width: 100%;
    height: 100%;
    /* 3:4 measures */
    min-width: 230px;
    min-height: 172px;
    background-color: #000;
    position: relative;
    border: 0 none;
    padding: 0;
    margin: 0;
}

.galleria-thumbnails-container,
.galleria-info {
    opacity: 0;
    filter: alpha(opacity=0);
}

.galleria-thumbnails-container {
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
    display: block;
    clear: both;
    padding: 9px 0;
    position: relative;
    margin: 0 9px;
}

.galleria-carousel .galleria-thumbnails-list,
.galleria-thumbnails-list {
    margin-left: 40px;
}

.galleria-thumbnails .galleria-image {
    background-color: #000;
    border: 1px solid #000;
    max-width: 58px;
    max-height: 38px;
    float: left;
    cursor: pointer;
    margin-right: 4px;
}

.galleria-counter {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.galleria-loader {
    width: 20px;
    height: 20px;
    background: url(classic-loader.gif) no-repeat;
}

.galleria-info {
    display: block;
    margin: 9px;
    padding-top: 5px;
    clear: both;
}

.galleria-info-title {
    font-weight: bold;
}

.galleria-info-title a,
.galleria-info-description {
    color: #434446;
    font-size: .9em;
    display: block;
    clear: both;
}

.galleria-info-close {
    width: 9px;
    height: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-position: -753px -11px;
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: pointer;
    display: none;
}

.notouch .galleria-info-close:hover{
    opacity:1;
    filter: alpha(opacity=100);
}

.touch .galleria-info-close:active{
    opacity:1;
    filter: alpha(opacity=100);
}

.galleria-info-link {
    background-position: -669px -5px;
    opacity: .7;
    filter: alpha(opacity=70);
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #000;
}

.notouch .galleria-info-link:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.touch .galleria-info-link:active {
    opacity: 1;
    filter: alpha(opacity=100);
}

.galleria-image-nav {
    width: 100%;
    height: 1px;
    display: block;
    clear: both;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -31px;
    left: 0;
}

.galleria-image-nav-left,
.galleria-image-nav-right {
    opacity: .3;
    filter: alpha(opacity=30);
    cursor: pointer;
    width: 62px;
    height: 62px;
    position: absolute;
    top: 0;
}

.galleria-image-nav-left  { left: 0; background-position: 20px 16px; }

.galleria-image-nav-right { right:0; background-position: -276px 16px; }

.notouch .galleria-image-nav-left:hover,
.notouch .galleria-image-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.touch .galleria-image-nav-left:active,
.touch .galleria-image-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
}

.galleria-thumb-nav-left,
.galleria-thumb-nav-right {
    position: absolute;
    background-color: #7D7D7D;
    cursor: pointer;
    display: none;
    width: 25px;
    height: 38px;
    border: 0 none;
    padding: 0;
    opacity: .8;
    filter: alpha(opacity=80);
    top: 10px;
    display: block;
}

.galleria-thumb-nav-left  { background-position: -495px 5px; left : 7px; }
.galleria-thumb-nav-right { background-position: -574px 5px; right: 7px; }

.galleria-thumbnails-container .disabled {
    opacity: .2;
    filter: alpha(opacity=20);
}

.notouch .galleria-thumb-nav-left:hover,
.notouch .galleria-thumb-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}

.touch .galleria-thumb-nav-left:active,
.touch .galleria-thumb-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}

.notouch .galleria-thumbnails-container .disabled:hover {
    opacity: .2;
    filter: alpha(opacity=20);
}

.galleria-carousel .galleria-thumb-nav-left,
.galleria-carousel .galleria-thumb-nav-right {
    display: block;
}

.galleria-thumb-nav-left.disabled,
.galleria-thumb-nav-right.disabled { display: none; }

.galleria-thumb-nav-left.disabled + .galleria-thumbnails-list { margin-left: 10px; }

.galleria-thumb-nav-left,
.galleria-thumb-nav-right,
.galleria-info-link,
.galleria-info-close,
.galleria-image-nav-left,
.galleria-image-nav-right {
    background-image: url(classic-map.png);
    background-repeat: no-repeat;
}

/* GALLERY */

/* container da galeria*/
.mediacarousel {
    border: 1px solid #d5d5d5;
    background-color: #eeeff1;
    float: left;
    clear: both;
    width: 100%;
    min-width: 230px;
    min-height: 172px;

}

/* titulo do container da galeria */
.mediacarousel .mediacarousel-tile {
    padding: 10px;
    font-weight: bold;
}

/* footer do container da galeria */
.mediacarousel .mediacarousel-footer-container {
    border-top: 1px solid #d5d5d5;
    padding: 10px;
    text-align: right;
    display: block;
    clear: both;
}

.mediacarousel .mediacarousel-footer-container .mediacarousel-footer-link {
    background: url("++resource++brasil.gov.tiles/footer-arrow.png") no-repeat scroll right center transparent;
    text-transform: uppercase;
    display: block;
    clear: both;
    padding-right: 25px;
}

#content .mediacarousel .mediacarousel-tile + div .rights{
    float: left;
    margin: 0;
}

#content .galleria-counter { display: none !important; }
