
.videogallery-tile {
    background-color: #072d6c;
    border-radius: 5px 5px 5px 5px;
    color: #FFF;
}

.videogallery-tile .gallery-tile {
    color: #FFF;
    font-size: 23px;
    text-transform: uppercase;
    border-bottom: 1px solid #2e5493;
    padding: 15px;
    margin: 0px;
}

.videogallery-tile .player-metadata {
    padding: 10px 0;
}
.player-metadata .title {
    color: #CDE1FA;
    font-weight: bold;
    padding-bottom: 10px;
}
.subtitle {
    text-transform: uppercase;
    color: #667cae;
    font-size: 11px;
    font-weight: bold;
}

.videogallery-tile .gallery-footer {
    font-size: 10px;
    padding: 15px;
    text-align: right;
    text-transform: uppercase;
    background-color: #062458;
    border-radius: 0 0 5px 5px;
    border-top: 1px dotted #305492;
}
.videogallery-tile .gallery-footer a {
    background: url("++resource++brasil.gov.tiles/footer-arrow.jpg") no-repeat scroll right 0 transparent;
    color: #D1E2FF !important;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-right: 25px;
}
#content .gallery-footer a:hover {
    color: #D1E2FF !important;
    text-decoration: underline;
}

.videogallery-tile .selected {
    display: none;
}

.gallery-element-link {
    height: 60px;
    width: 80px;
    text-align: center;
    overflow: hidden;
    float: left;
    margin: 0 5% 5% 0;
}
#content .gallery-element-link img {
    border-radius: 0 0 0 0;
}
.galery-items-wrapper {
    margin: 0;
}
.gallery-element-wrapper {
    padding: 15px 15px;
}
.gallery-element {
    float: left;
    border-bottom: 1px dotted #305492;
    width: 100%;
}

.gallery-element-metadata {
    height: 60px;
    overflow: hidden;
}
.gallery-element-metadata .description {
    display: none;
}

.player-holder iframe {
    width: 100%;
    height: auto;
}

/* 8 or 10 grids for 2 cols */
.width-8 .videogallery-tile .gallery-footer,
.width-10 .videogallery-tile .gallery-footer {
    border-top: none;
}
.width-8 .gallery-element,
.width-10 .gallery-element,
.gallery-2-columns .gallery-element {
    width: 50%;
}
.width-8 .gallery-element-wrapper,
.width-10 .gallery-element-wrapper,
.gallery-2-columns .gallery-element-wrapper {
    border-left: 1px dotted #305491;
}
.width-8 .player-video,
.width-10 .player-video,
.gallery-2-columns .player-video {
    width: 50%;
    margin-right: 5%;
    float: left;
}
.width-8 .player-holder,
.width-10 .player-holder,
.gallery-2-columns .player-holder {
    padding: 4%;
}
.width-8 .player-metadata,
.width-10 .player-metadata,
.gallery-2-columns .player-metadata {
    padding: 0;
    border-bottom: medium none;
}

.width-5 .gallery-3-columns .player-metadata,
.width-5 .gallery-3-columns .player-holder iframe {
    width: 90%;
    padding: 2% 5%;
}

.width-5 .gallery-2-columns .player-video,
.width-5 .gallery-2-columns .gallery-element {
    width: 100%;
}

.width-8 .galery-items,
.width-10 .galery-items,
.width-5 .galery-items,
.gallery-2-columns .galery-items {
    border-top: 1px solid #305492;
}

/* 15 or 16 grids for 3 cols */
.width-16 .gallery-3-columns .player-holder,
.width-15 .gallery-3-columns .player-holder {
    width: 60%;
    padding: 2.5% 2.5% 0;
    border-right: 1px dotted #305492;
}
.width-16 .gallery-3-columns .galery-items,
.width-15 .gallery-3-columns .galery-items {
    width: 34%;
}
.width-15 .gallery-element.last,
.width-16 .gallery-element.last {
    border-bottom: none !important;
}

.gallery-3-columns .player-holder {
    float: left;
}
.gallery-3-columns .galery-items {
    float: left;
    margin: 0;
}
.gallery-3-columns .player-metadata .title {
    border-bottom: medium none;
}
.gallery-3-columns .player-metadata .title {
    border-bottom: medium none;
}
.gallery-3-columns .player-metadata {
    border-bottom: medium none;
}
.gallery-3-columns .galery-items-wrapper {
    border-left: 1px solid #305492;
}

@media only screen and (min-width : 768px) and (max-width : 960px) {
    .width-8 .gallery-element-metadata,
    .width-10 .gallery-element-metadata {
        height: 70px !important;
    }
}

@media only screen and (max-width : 768px) {
    .galery-items {
        border-top: 1px solid #305492;
    }
    .width-8 .gallery-element,
    .width-10 .gallery-element {
        width: 100% !important;
    }
    .width-8 .player-video,
    .width-10 .player-video {
        width: 100% !important;
        margin: 0 0 5% 0 !important;
    }
    .player-holder {
        border-bottom: none !important;
        padding: 4%;
    }
}


/* AUDIO GALLERY*/
#content .audiogallery-tile .selected {
    display: none;
}
.audiogallery-tile {
    background-color: #eeeff1;
    border:1px solid #d4d4d6;
    margin-bottom: 20px;
}
.audiogallery-title-container .gallery-tile {
    padding: 10px 15px 10px 10px;
    border-bottom: 1px solid #d4d4d6;
    color: #454545;
    font-weight: bold;
}
.audiogallery-player-container {
    padding: 10px 15px;
    border-bottom: 1px dotted #d4d4d6;
}
.audiogallery-player-container .audiogallery-item-title {
    padding-top: 10px;
}

#content .audiogallery-items-container ul {
    margin: 0px;
}
#content .audiogallery-items-container li {
    list-style: none outside none;
    border-bottom: 1px dotted #d4d4d6;
    padding: 10px 15px;
}
#content .audiogallery-items-container .audiogallery-item {
    padding-left: 20px;
    background: url("++resource++brasil.gov.tiles/sound-icon.png") no-repeat scroll left 0 transparent;
    display: block;
    font-weight: bold;
}
.audiogallery-footer-container {
    text-align: right;
    padding: 5px 15px;
}
.audiogallery-footer-container .audiogallery-footer-link {
    text-transform: uppercase;
    background: url("++resource++brasil.gov.tiles/footer-arrow.png") no-repeat scroll right 0 transparent;
    display: inline-block;
    height: 20px;
    padding-right: 25px;
    font-size: 10px;
}


/* AUDIO */
.audio-tile .title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}


/* GALLERY */
.mediacarousel {
    background: none repeat scroll 0 0 #EEEFF1;
    border:1px solid #d5d5d5;
}
.mediacarousel .mediacarousel-tile {
    padding: 10px 15px;
    font-weight: bold;
}
.mediacarousel .mediacarousel-footer-container {
    border-top: 1px solid #d5d5d5;
    padding: 10px;
    text-align: right;
}
.mediacarousel .mediacarousel-footer-container .mediacarousel-footer-link {
    padding-right: 30px;
    display: inline-block;
    background: url("++resource++brasil.gov.tiles/footer-arrow.png") no-repeat scroll right center transparent;
    text-transform: uppercase;
}
.mediacarousel .galleria-info {
    bottom: 60px;
}
#content .mediacarousel .rights {
    float: left !important;
}

/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 */

div.jp-audio,
div.jp-audio-stream{

    /* Edit the font-size to counteract inherited font sizing.
     * Eg. 1.25em = 1 / 0.8em
     */

    font-size:1.25em; /* 1.25em for testing in site pages */ /* No parent CSS that can effect the size in the demos ZIP */

    font-family:Verdana, Arial, sans-serif;
    line-height:1.6;
    color: #666;
    border:1px solid #e0e0e0;
    background-color:#eee;
    border-radius: 5px 5px 5px 5px;
    box-shadow:0 0 5px 1px #CCCCCC;
}
div.jp-audio {
    width:100%;
    margin-bottom: 5px;
}
div.jp-audio-stream {
    width:182px;
}

div.jp-interface {
    position: relative;
    background-color:#edeef2;
    width:100%;
}

div.jp-audio div.jp-type-single div.jp-interface {
    height:48px;
}

div.jp-audio-stream div.jp-type-single div.jp-interface {
    height:48px;
}


/* @group CONTROLS */

div.jp-controls-holder {
    clear: both;
    width:440px;
    margin:0 auto;
    position: relative;
    overflow:hidden;
    top:-8px; /* This negative value depends on the size of the text in jp-currentTime and jp-duration */
}

div.jp-interface ul.jp-controls {
    list-style-type:none;
    margin:0;
    padding: 0;
    overflow:hidden;
    position: absolute;
    width: 100%;
}

div.jp-audio ul.jp-controls {
    padding:10px 0;
    margin: 0 !important;
}

div.jp-audio-stream ul.jp-controls {
    width: 142px;
    padding:20px 20px 0 20px;
}

div.jp-interface ul.jp-controls li {
    display:inline !important;
    float: left;
}

div.jp-interface ul.jp-controls a {
    display:block;
    overflow:hidden;
    text-indent:-9999px;
}
a.jp-play,
a.jp-pause {
    height: 23px;
    left: 10px;
    position: relative;
    width: 23px;
}

a.jp-play {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 0 no-repeat;
}
a.jp-play:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -41px 0 no-repeat;
}
a.jp-pause {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -42px no-repeat;
    display: none;
}
a.jp-pause:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -41px -42px no-repeat;
}

a.jp-previous, a.jp-next {
    width:28px;
    height:28px;
    margin-top:6px;
}

a.jp-previous {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -112px no-repeat;
}
a.jp-previous:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -29px -112px no-repeat;
}

a.jp-next {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -141px no-repeat;
}
a.jp-next:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -29px -141px no-repeat;
}

/* @end */

/* @group progress bar */

div.jp-progress {
    overflow:hidden;
    background-color: #ddd;
}
div.jp-audio div.jp-progress {
    clear: both;
    display: block;
    height: 15px;
    position: relative;
    top: 15px;
}
div.jp-audio div.jp-type-single div.jp-progress {
    width:100%;
}

.jp-progress-time-wrapper {
    display: block;
    height: 50px;
    padding-left: 45px;
    padding-right: 45px;
}

div.jp-seek-bar {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -202px repeat-x;
    width:0px;
    height:100%;
    cursor: pointer;
}
div.jp-play-bar {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -218px repeat-x ;
    width:0px;
    height:100%;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.seeking.gif");
}

/* @end */

/* @group volume controls */


a.jp-mute,
a.jp-unmute {
    height: 15px;
    margin-top: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    vertical-align: middle;
    width: 18px;
}

div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
    margin-left: 210px;
}

div.jp-audio-stream div.jp-type-single a.jp-mute,
div.jp-audio-stream div.jp-type-single a.jp-unmute {
    margin-left:10px;
}


a.jp-mute {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -186px no-repeat;
}
a.jp-mute:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -19px -186px no-repeat;
}
a.jp-unmute {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -60px -170px no-repeat;
    display: none;
}
a.jp-unmute:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -79px -170px no-repeat;
}

div.jp-volume-bar {
    position: absolute;
    overflow:hidden;
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -250px repeat-x;
    width:35px;
    height:5px;
    cursor: pointer;
}
div.jp-audio div.jp-volume-bar {
    top:37px;
    right:5px;
}
div.jp-audio-stream div.jp-volume-bar {
    top:37px;
    left:92px;
}

div.jp-volume-bar-value {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -256px repeat-x;
    width:0px;
    height:5px;
}

/* @end */

/* @group current time and duration */

div.jp-audio div.jp-time-holder {
    clear: both;
    display: block;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    position: relative;
    text-align: right;
    top: 15px;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
    width:100%;
}

.jp-current-time,
.jp-duration {
    width:60px;
    font-size:10px;
    font-style:oblique;
}
.jp-current-time {
}
.jp-duration {
    text-align: right;
}


/* @end */

/* @group playlist */


span.jp-artist {
    font-size:.8em;
    color:#666;
}

/* @end */


div.jp-jplayer audio,
div.jp-jplayer {
    width:0px;
    height:0px;
}

div.jp-jplayer {
    background-color: #000000;
}




/***
**  SKIN FOR AUDIO PLAYER
**
***/
/* @group TOGGLES */

/* The audio toggles are nested inside jp-time-holder */

ul.jp-toggles {
    list-style-type:none;
    padding:0;
    margin:0 auto;
    overflow:hidden;
}

div.jp-audio .jp-type-single ul.jp-toggles {
    width:25px;
}


ul.jp-toggles li {
    display:block;
    float:right;
}

ul.jp-toggles li a {
    display:block;
    width:25px;
    height:18px;
    text-indent:-9999px;
    line-height:100%; /* need this for IE6 */
}

a.jp-full-screen {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -310px no-repeat;
    margin-left: 20px;
}

a.jp-full-screen:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -30px -310px no-repeat;
}

a.jp-restore-screen {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -60px -310px no-repeat;
    margin-left: 20px;
}

a.jp-restore-screen:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -90px -310px no-repeat;
}


a.jp-shuffle {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -270px no-repeat;
    margin-left: 5px;
}

a.jp-shuffle:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -30px -270px no-repeat;
}

a.jp-shuffle-off {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -60px -270px no-repeat;
    margin-left: 5px;
}

a.jp-shuffle-off:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -90px -270px no-repeat;
}


/* @end */

/* @group NO SOLUTION error feedback */

.jp-no-solution {
    padding:5px;
    font-size:.8em;
    background-color:#eee;
    border:2px solid #009be3;
    color:#000;
    display:none;
}

.jp-no-solution a {
    color:#000;
}

.jp-no-solution span {
    font-size:1em;
    display:block;
    text-align:center;
    font-weight:bold;
}

/* @end */






/* root element for tabs  */
ul.css-tabs {
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid #eeeff1;
}

/* single tab */
ul.css-tabs li {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
    float:left;
    font-size:13px;
    display:block;
    padding:5px 30px;
    text-decoration:none;
    border:1px solid #d4d5d7;
    border-bottom:0px;
    height:18px;
    background-color:#d5d5d5;
    color:#777;
    margin-right:2px;
    position:relative;
    top:1px;
    outline:0;
    -moz-border-radius:4px 4px 0 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

ul.css-tabs a:hover {
    background-color:#F7F7F7;
    color:#333;
}

/* selected tab */
ul.css-tabs a.current {
    background-color:#eeeff1;
    border-bottom:1px solid #d4d5d7;
    color:#000;
    cursor:default;
}


/* tab pane */
.css-panes .pane {
    display:none;
    border:1px solid #d4d5d7;
    border-width:0 1px 1px 1px;
    min-height:150px;
    padding:15px 20px;
    background-color:#eeeff1;
    height: 350px;
}
#content .css-tabs li {
    list-style: none outside none;
}




.outstanding-header {
    position: relative;
}

.outstanding-link {
    display: inline-block;
    float: right;
    right: 0;
}

/*social*/
.social-panes .pane {
    padding:15px 4px;
}

/* mensagem de erro na tag noscript */
div.error { padding: 1em; }

/* tile do video container */
.video-tile {
    max-width: 766px;
    max-height: 575px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container + a {
    line-height: 2em;
    clear: both;
}

/* botão de busca dos filtros da página de resultado de busca */
.formControls input.searchButton { display: none; }

/* Tile Banner Rotativo */
#content .tile[data-tile*="banner_rotativo"] {
    margin-bottom: 0;
    max-height: 240px;
    overflow: hidden;
}

#content #tile_banner_rotativo {
    position: relative;
    width: 100%;
    max-width: 766px;
    height: 100%;
    max-height: 260px;
    overflow: hidden;
    margin: 0;
}

.orderTiles .button-nav,
#tile_banner_rotativo .button-nav {
    width: 19px;
    height: 20px;
    background-color: #0e561f;
    position: absolute;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #0e561f url("++resource++brasil.gov.tiles//bull.gif") no-repeat;
    border-right: 1px solid #446b5d;
    bottom: 20px;
    right: 0;
    z-index: 3;
}

.orderTiles {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.orderTiles .button-nav {
    width: 20px;
    height: 20px;
    position: static;
}

#tile_banner_rotativo .button-nav:hover,
#tile_banner_rotativo .button-nav.activeSlide {
    background-position: 0 100%;
    background-color: #054112;
}

#banner1 .button-nav { right: 60px; }
#banner2 .button-nav { right: 40px; }
#banner3 .button-nav { right: 20px; }
#banner4 .button-nav { right:  0px; }

#tile_banner_rotativo li {
    height: 240px;
}

.template-compose #tile_banner_rotativo li {
    position: relative;
    float: left;
    width: 190px;
}

.template-compose #tile_banner_rotativo .banner,
.template-compose #tile_banner_rotativo .banner img {
    width: 190px;
}

.template-compose #tile_banner_rotativo .button-nav {
    display: none;
}

#tile_banner_rotativo .banner img {
    max-width: 766px;
    max-height: 240px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#tile_banner_rotativo .banner {
    position: absolute;
    bottom: 20px;
    width: 100%;
    max-width: 766px;
    height: 240px;
    z-index: 1;
}

#tile_banner_rotativo .banner.activeSlideItem { z-index: 2; }

#tile_banner_rotativo .banner .descr {
    position: absolute;
    background: url("++resource++brasil.gov.tiles/shadow-50.png") repeat top left;
    z-index: 3;
    width: 100%;
    font-family: Arial;
    max-width: 676px;
    font-size: 10px;
    font-style: italic;
    color: #fff;
    padding:0 0 0 10px;
    bottom: 0;
    left: 0;
    line-height: 20px;
}

.tile-remove-item {
    z-index: 10 !important;
}

/* Tile Banner Estatico */
.banner-tile { float: left; }
.banner-tile img { margin:0; }
#content .banner-tile .copyright,
#content .newsImageContainer .copyright,
#content .mediacarousel .rights {
    color: #000;
    float: right;
    font-style: italic;
    font-family: Arial;
    font-size: .9em;
    line-height: 2em;
    margin: 0 .8em 0 0;
}

#content .mediacarousel .mediacarousel-tile+div .rights {
    color: #000;
    float: right;
    font-style: italic;
    font-family: Arial;
    font-size: .9em;
    line-height: 2em;
    margin: 0 .8em 0 0;
}

.banner-tile .copyright + a,
.newsImageContainer .copyright + a { display: block; clear:both; }

/* Carrosel pra quando tem colecao imagem na noticia (tipo de conteúdo NITF) */
#content .newsImageContainer .carrossel-images {
    margin: 0;
    float: left;
    clear: left;
    width: 100%;
    max-width: 200px;
    /*display: none;*/
}

#content .newsImageContainer .carrossel-images li {
    float: left;
    margin: 0.5em 0.5em 0.5em 0;
    list-style: outside none;
}

#content .newsImageContainer .carrossel-images li.last-item { margin-right: 0; }

#content .newsImageContainer .carrossel-images li a {
    float:left;
    position: relative;
    z-index: 1;
}
/* credito lightbox da galeria de imagens */
.galleria-info .copyright {
    color: #fff;
    font-style: italic;
    font-family: Arial;
    font-size: 1em;
    line-height: 2em;
}

/* POLL TILE */
#content .poll-tile {
    background-color: #eeeff1;
    border-radius: 0.5em 0.5em 0 0;
    border: 1px solid #d4d5d7; }
    #content .poll-tile .poll-tile-header {
        border-bottom: 1px solid #d4d5d7;
        padding: 0.5em 1em; }
        #content .poll-tile .poll-tile-header>.header {
            color: #444a53;
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            font-size: 1.3em;
            font-weight: bold;
            text-transform: uppercase; }
    #content .poll-tile .tile-content-wrapper>div {
        padding: 0 1em; }
    #content .poll-tile .tile-content-wrapper>.poll-spinner {
        padding: 0; }
    #content .poll-tile .tile-content-wrapper>h3 {
        background-color: #f8f9f9;
        color: #365073;
        font-size: 1em;
        padding: 1.7em 1em; }
    #content .poll-tile .tile-content-wrapper>h4 {
        font-size: 1em;
        font-weight: bold;
        padding: 1em; }
    #content .poll-tile .tile-content-wrapper>form>br {
        display: none;
    }
    #content .poll-tile .tile-content-wrapper>form>input[type=radio] {
        clear: both;
        float: left;
        margin: 1em 0 1em 1em; }
        #content .poll-tile .tile-content-wrapper>form>input[type=radio]+span {
            color: #335277;
            display: block;
            line-height: 3.3em;
            margin-left: 2.8em; }
    #content .poll-tile .tile-content-wrapper>form>input[type=submit] {
        background: #456183 url(../++theme++verde/img/readmorewhiteblue.png) no-repeat 1em center;
        border: none;
        color: #fff;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 1em;
        padding: 0.8em 0px 0.8em 3em;
        text-align: left;
        text-transform: uppercase;
        width: 100%; }
    #content .poll-tile .tile-content-wrapper>.result-text,
    #content .poll-tile .tile-content-wrapper>.tile-poll-more {
        text-align: right;
        text-transform: uppercase;
        font-size: 0.8em;
        padding-top: 1em; }
    #content .poll-tile .tile-content-wrapper>.tile-poll-more {
        padding-bottom: 1em; }
/* POLL TILE */
