
.videogallery-tile {
    background-color: #072d6c;
    border-radius: 5px 5px 5px 5px;
    color: #FFF;
}

.videogallery-tile .gallery-tile {
    color: #FFF;
    font-size: 23px;
    text-transform: uppercase;
    border-bottom: 1px solid #2e5493;
    padding: 15px;
    margin: 0px;
}

.videogallery-tile .player-metadata {
    padding: 10px 15px;
    border-bottom: 1px solid #305492;
}
.player-metadata .title {
    border-bottom: 1px dotted #305492;
    color: #CDE1FA;
    font-weight: bold;
    padding-bottom: 10px;
}
.player-metadata .description {
    padding-top: 15px;
}
.subtitle {
    text-transform: uppercase;
    color: #667cae;
    font-size: 11px;
    font-weight: bold;
}

.videogallery-tile .gallery-footer {
    font-size: 10px;
    padding: 15px;
    text-align: right;
    text-transform: uppercase;
    background-color: #062458;
    border-radius: 0 0 5px 5px;
    border-top: 1px dotted #305492;
}
.videogallery-tile .gallery-footer a {
    background: url("++resource++brasil.gov.tiles/footer-arrow.jpg") no-repeat scroll right 0 transparent;
    color: #D1E2FF !important;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-right: 25px;
}

.videogallery-tile .selected {
    display: none;
}

.gallery-element-link {
    height: 60px;
    width: 80px;
    text-align: center;
    overflow: hidden;
    float: left;
}
#content .gallery-element-link img {
    border-radius: 0 0 0 0;
}
.galery-items-wrapper {
    margin: 0;
}
.gallery-element-wrapper {
    padding: 15px 15px;
}
.gallery-element {
    float: left;
    border-bottom: 1px dotted #305492;
    width: 100%;
}

.gallery-element-metadata {
    height: 60px;
    overflow: hidden;
}
.gallery-element-metadata .title {
    margin-left: 15px;
    display: block;
}
.gallery-element-metadata .description {
    display: none;
}

.player-holder iframe {
    width: 100%;
    height: auto;
}


.gallery-2-columns .gallery-element{
    width: 50%;
}
.gallery-2-columns .player-video {
    width: 50%;
    float: left;
}
.gallery-2-columns .player-holder {
    padding-left: 15px;
    padding-bottom: 15px;
}
.gallery-2-columns .player-metadata {
    padding: 0;
    border-bottom: medium none;
}
.gallery-2-columns .player-metadata-wrapper {
    padding-left: 50%;
    padding-right: 15px;
    margin-left: 10px;
}
.gallery-2-columns .galery-items {
    border-top: 1px solid #305492;
}


.gallery-3-columns .player-holder{
    width: 505px;
    float: left;
}
.gallery-3-columns .galery-items {
    width: 230px;
    float: left;
    margin: 0;
}

.gallery-3-columns .player-metadata .title {
    border-bottom: medium none;
}
.gallery-3-columns .player-metadata {
    border-bottom: medium none;
}
.gallery-3-columns .galery-items-wrapper {
    margin-left: 15px;
    border-left: 1px solid #305492;
    display: inline-block;
}


/* AUDIO GALLERY*/
#content .audiogallery-tile .selected {
    display: none;
}
.audiogallery-tile {
    background-color: #eeeff1;
    border:1px solid #d4d4d6;
    margin-bottom: 20px;
}
.audiogallery-title-container .gallery-tile {
    padding: 10px 15px 10px 10px;
    border-bottom: 1px solid #d4d4d6;
    color: #454545;
    font-weight: bold;
}
.audiogallery-player-container {
    padding: 10px 15px;
    border-bottom: 1px dotted #d4d4d6;
}
.audiogallery-player-container .audiogallery-item-title {
    padding-top: 10px;
}

#content .audiogallery-items-container ul {
    margin: 0px;
}
#content .audiogallery-items-container li {
    list-style: none outside none;
    border-bottom: 1px dotted #d4d4d6;
    padding: 10px 15px;
}
#content .audiogallery-items-container .audiogallery-item {
    padding-left: 20px;
    background: url("++resource++brasil.gov.tiles/sound-icon.png") no-repeat scroll left 0 transparent;
    display: block;
    font-weight: bold;
}
.audiogallery-footer-container {
    text-align: right;
    padding: 5px 15px;
}
.audiogallery-footer-container .audiogallery-footer-link {
    text-transform: uppercase;
    background: url("++resource++brasil.gov.tiles/footer-arrow.png") no-repeat scroll right 0 transparent;
    display: inline-block;
    height: 20px;
    padding-right: 25px;
    font-size: 10px;
}


/* AUDIO */
.audio-tile .title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}


/* GALLERY */
.mediacarousel {
    background: none repeat scroll 0 0 #EEEFF1;
    border:1px solid #d5d5d5;
}
.mediacarousel .mediacarousel-tile {
    padding: 10px 15px;
    font-weight: bold;
}
.mediacarousel .mediacarousel-footer-container {
    border-top: 1px solid #d5d5d5;
    padding: 10px;
    text-align: right;
}
.mediacarousel .mediacarousel-footer-container .mediacarousel-footer-link {
    padding-right: 30px;
    display: inline-block;
    background: url("++resource++brasil.gov.tiles/footer-arrow.png") no-repeat scroll right 0 transparent;
    text-transform: uppercase;
}






/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 */

div.jp-audio,
div.jp-audio-stream{

    /* Edit the font-size to counteract inherited font sizing.
     * Eg. 1.25em = 1 / 0.8em
     */

    font-size:1.25em; /* 1.25em for testing in site pages */ /* No parent CSS that can effect the size in the demos ZIP */

    font-family:Verdana, Arial, sans-serif;
    line-height:1.6;
    color: #666;
    border:1px solid #e0e0e0;
    background-color:#eee;
    border-radius: 5px 5px 5px 5px;
    box-shadow:0 0 5px 1px #CCCCCC;
}
div.jp-audio {
    width:100%;
    margin-bottom: 5px;
}
div.jp-audio-stream {
    width:182px;
}

div.jp-interface {
    position: relative;
    background-color:#edeef2;
    width:100%;
}

div.jp-audio div.jp-type-single div.jp-interface {
    height:48px;
}

div.jp-audio-stream div.jp-type-single div.jp-interface {
    height:48px;
}


/* @group CONTROLS */

div.jp-controls-holder {
    clear: both;
    width:440px;
    margin:0 auto;
    position: relative;
    overflow:hidden;
    top:-8px; /* This negative value depends on the size of the text in jp-currentTime and jp-duration */
}

div.jp-interface ul.jp-controls {
    list-style-type:none;
    margin:0;
    padding: 0;
    overflow:hidden;
    position: absolute;
    width: 100%;
}

div.jp-audio ul.jp-controls {
    padding:10px 0;
    margin: 0 !important;
}

div.jp-audio-stream ul.jp-controls {
    width: 142px;
    padding:20px 20px 0 20px;
}

div.jp-interface ul.jp-controls li {
    display:inline !important;
    float: left;
}

div.jp-interface ul.jp-controls a {
    display:block;
    overflow:hidden;
    text-indent:-9999px;
}
a.jp-play,
a.jp-pause {
    height: 23px;
    left: 10px;
    position: relative;
    width: 23px;
}

a.jp-play {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 0 no-repeat;
}
a.jp-play:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -41px 0 no-repeat;
}
a.jp-pause {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -42px no-repeat;
    display: none;
}
a.jp-pause:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -41px -42px no-repeat;
}

a.jp-previous, a.jp-next {
    width:28px;
    height:28px;
    margin-top:6px;
}

a.jp-previous {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -112px no-repeat;
}
a.jp-previous:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -29px -112px no-repeat;
}

a.jp-next {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -141px no-repeat;
}
a.jp-next:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -29px -141px no-repeat;
}

/* @end */

/* @group progress bar */

div.jp-progress {
    overflow:hidden;
    background-color: #ddd;
}
div.jp-audio div.jp-progress {
    clear: both;
    display: block;
    height: 15px;
    position: relative;
    top: 15px;
}
div.jp-audio div.jp-type-single div.jp-progress {
    width:100%;
}

.jp-progress-time-wrapper {
    display: block;
    height: 50px;
    padding-left: 45px;
    padding-right: 45px;
}

div.jp-seek-bar {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -202px repeat-x;
    width:0px;
    height:100%;
    cursor: pointer;
}
div.jp-play-bar {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -218px repeat-x ;
    width:0px;
    height:100%;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.seeking.gif");
}

/* @end */

/* @group volume controls */


a.jp-mute,
a.jp-unmute {
    height: 15px;
    margin-top: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    vertical-align: middle;
    width: 18px;
}

div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
    margin-left: 210px;
}

div.jp-audio-stream div.jp-type-single a.jp-mute,
div.jp-audio-stream div.jp-type-single a.jp-unmute {
    margin-left:10px;
}


a.jp-mute {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -186px no-repeat;
}
a.jp-mute:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -19px -186px no-repeat;
}
a.jp-unmute {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -60px -170px no-repeat;
    display: none;
}
a.jp-unmute:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -79px -170px no-repeat;
}

div.jp-volume-bar {
    position: absolute;
    overflow:hidden;
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -250px repeat-x;
    width:35px;
    height:5px;
    cursor: pointer;
}
div.jp-audio div.jp-volume-bar {
    top:37px;
    right:5px;
}
div.jp-audio-stream div.jp-volume-bar {
    top:37px;
    left:92px;
}

div.jp-volume-bar-value {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -256px repeat-x;
    width:0px;
    height:5px;
}

/* @end */

/* @group current time and duration */

div.jp-audio div.jp-time-holder {
    clear: both;
    display: block;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    position: relative;
    text-align: right;
    top: 15px;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
    width:100%;
}

.jp-current-time,
.jp-duration {
    width:60px;
    font-size:10px;
    font-style:oblique;
}
.jp-current-time {
}
.jp-duration {
    text-align: right;
}


/* @end */

/* @group playlist */


span.jp-artist {
    font-size:.8em;
    color:#666;
}

/* @end */


div.jp-jplayer audio,
div.jp-jplayer {
    width:0px;
    height:0px;
}

div.jp-jplayer {
    background-color: #000000;
}




/***
**  SKIN FOR AUDIO PLAYER
**
***/
/* @group TOGGLES */

/* The audio toggles are nested inside jp-time-holder */

ul.jp-toggles {
    list-style-type:none;
    padding:0;
    margin:0 auto;
    overflow:hidden;
}

div.jp-audio .jp-type-single ul.jp-toggles {
    width:25px;
}


ul.jp-toggles li {
    display:block;
    float:right;
}

ul.jp-toggles li a {
    display:block;
    width:25px;
    height:18px;
    text-indent:-9999px;
    line-height:100%; /* need this for IE6 */
}

a.jp-full-screen {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -310px no-repeat;
    margin-left: 20px;
}

a.jp-full-screen:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -30px -310px no-repeat;
}

a.jp-restore-screen {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -60px -310px no-repeat;
    margin-left: 20px;
}

a.jp-restore-screen:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -90px -310px no-repeat;
}


a.jp-shuffle {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -270px no-repeat;
    margin-left: 5px;
}

a.jp-shuffle:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -30px -270px no-repeat;
}

a.jp-shuffle-off {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -60px -270px no-repeat;
    margin-left: 5px;
}

a.jp-shuffle-off:hover {
    background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -90px -270px no-repeat;
}


/* @end */

/* @group NO SOLUTION error feedback */

.jp-no-solution {
    padding:5px;
    font-size:.8em;
    background-color:#eee;
    border:2px solid #009be3;
    color:#000;
    display:none;
}

.jp-no-solution a {
    color:#000;
}

.jp-no-solution span {
    font-size:1em;
    display:block;
    text-align:center;
    font-weight:bold;
}

/* @end */






/* root element for tabs  */
ul.css-tabs {
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid #eeeff1;
}

/* single tab */
ul.css-tabs li {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
    float:left;
    font-size:13px;
    display:block;
    padding:5px 30px;
    text-decoration:none;
    border:1px solid #d4d5d7;
    border-bottom:0px;
    height:18px;
    background-color:#d5d5d5;
    color:#777;
    margin-right:2px;
    position:relative;
    top:1px;
    outline:0;
    -moz-border-radius:4px 4px 0 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

ul.css-tabs a:hover {
    background-color:#F7F7F7;
    color:#333;
}

/* selected tab */
ul.css-tabs a.current {
    background-color:#eeeff1;
    border-bottom:1px solid #d4d5d7;
    color:#000;
    cursor:default;
}


/* tab pane */
.css-panes .pane {
    display:none;
    border:1px solid #d4d5d7;
    border-width:0 1px 1px 1px;
    min-height:150px;
    padding:15px 20px;
    background-color:#eeeff1;
    height: 350px;
}
#content .css-tabs li {
    list-style: none outside none;
}




.outstanding-header {
    border-top:4px solid #CCC;
    position: relative;
}

.outstanding-link {
    display: inline-block;
    float: right;
    right: 0;
}

/*social*/
.social-panes .pane {
    padding:15px 4px;
}
