/* Button alignment of tile compose */
.template-compose .tile-container {
  position: relative;
  .edit-tile-link {
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  position: relative;
}
