/* Ícones dos Tiles na aba Layout do Cover
   ========================================================================== */

#tiles-list {
  #audiogallery img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-audiogallery.png') no-repeat center center;
  }
  #audio img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-audio.png') no-repeat center center;
  }
  #nitf img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-article.png') no-repeat center center;
  }
  #videogallery img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-mediagallery.png') no-repeat center center;
  }
  #video img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-media.png') no-repeat center center;
  }
  #social img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-social.png') no-repeat center center;
  }
  #standaloneheader img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-header.png') no-repeat center center;
  }
  #agenda img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-agenda.png') no-repeat center center;
  }
  #destaque img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-destaque.png') no-repeat center center;
  }
  #em_destaque img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-em_destaque.png') no-repeat center center;
  }
  #albuns img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-albuns.png') no-repeat center center;
  }
  #mediacarousel img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-mediacarousel.png') no-repeat center center;
  }
  #banner_rotativo img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url('++resource++brasil.gov.tiles/tile-banner_rotativo.png') no-repeat center center;
  }
  a[id='collective.nitf'] {
    display: none !important;
  }
}

/*XXX: Precisamos esconder o tile de nitf de collective.nitf, pois iremos usar*/
/*o nosso herdando de collective.nitf. Apesar de já removermos ele via upgradeStep,*/
/*achamos melhor também esconder via css caso o usuário execute os upgradeSteps*/
/*em ordens aleatórias.*/

select#form-widgets-available_tiles-from option[value='collective.nitf'] {
  display: none !important;
}