/* Ícones dos Tiles na aba Layout do Cover
   ========================================================================== */

#tiles-list {
  #audiogallery img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-audiogallery.png) no-repeat center center;
  }
  #audio img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-audio.png) no-repeat center center;
  }
  #nitf img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-article.png) no-repeat center center;
  }
  #videogallery img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-mediagallery.png) no-repeat center center;
  }
  #video img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-media.png) no-repeat center center;
  }
  #social img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-social.png) no-repeat center center;
  }
  #standaloneheader img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-header.png) no-repeat center center;
  }
  #agenda img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-agenda.png) no-repeat center center;
  }
  #destaque img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-destaque.png) no-repeat center center;
  }
  #albuns img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-albuns.png) no-repeat center center;
  }
  #mediacarousel img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-mediacarousel.png) no-repeat center center;
  }
  #banner_rotativo img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-banner_rotativo.png) no-repeat center center;
  }
}
