/* Ícones dos Tiles na aba Layout do Cover
   ========================================================================== */

#tiles-list {
  #standaloneheader img {
    overflow: hidden;

    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding-left: 32px;

    background: url(./img/tile-header.png) no-repeat center center;
  }
}
