@import 'scss/sprite';

@import 'scss/compose';
@import 'scss/layout';

@import 'scss/tiles/header';


/* botão de busca dos filtros da página de resultado de busca */
.formControls input.searchButton {
  display: none;
}

/* Tile Searchbox */
.searchSection label {
  cursor: pointer;
}

/* Plone-addsite */
fieldset#add-on-list {
  display: none;
}

/* Plone overview */
form.inline-form {
  display: inline;
}
